@import "style/mixin";


.container {
  @include ContentCenter();
  //max-width: 80vw;

  Button {
    font-size: 20px;
  }


  .card {
    display: flex;
    width: 60vw;
    padding: 5px;
  }

  .description {
    display: flex;
    flex-direction: column;

    div {
      width: 60vw;
    }

  }

}