.track {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  max-width: 60vw;

  .artist {
    color: gray;
    font-size: 14px;
  }

  .avatar {
    &:hover {
      cursor: pointer;
    }
  }

  .time {
    margin-left: auto;
  }

  IconButton {
    margin-left: auto;
  }

}